
{% extends "bootstrap_responsive.html" %}


{% block body_content %}

<script src="/static/d3.v2.js" type="text/javascript"></script>

<script src="/static/jquery-1.8.3.js" type="text/javascript"></script>

<script src="/static/jquery-ui.js"></script>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">webwiz</a>

          <div class="nav-collapse">
            <!-- generate nav using flask template system -->
              <ul class="nav">
                 {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}"><span>{{ caption|e }}</span>
              </a></li>
                {% endfor %}

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<script src="/static/dataview.js" type="text/javascript"></script>


  <div class="container-fluid">
  
    <h2>about</h2>
    <p>This is a demo inspired by d3.js and a series of <a href="http://www.youtube.com/watch?v=KdnGPQaICjk">talks</a> from Ted Nelson called Computers for Cynics. He points out that what are called technologies are mostly packages and conventions and that software often simulates paper. Visualizations often display graphics as pure outputs. Here with the interactive chart based on the d3.js library the user can select parts of the chart and
      see results. For instance linear regression can be misleading based metrics such as R^2 ignore part of the structure. I believe advanced mathematical techniques such as kernels are actually much easier to grasp with the use of interactive charts.      
    </p>
    
    
    <h2>Inspirations</h2>

    <ul>
      <li><a href="http://bost.ocks.org/mike/">Mike Bostock</a></li>

    <li><a href="http://hyperland.com/">Ted Nelson</a></li>

    <li><a href="http://worrydream.com/KillMath/">Bret Victor</a></li>
  </ul>

    <h2>using</h2>
      <ul>
        <li>d3.js is a javascript library which builds on the HTML/DOM.</li>

        <li>python flask. great python web framework</li>

        <li>AJAX. asynch javascript since 2005. <a href="http://www.adaptivepath.com/ideas/ajax-new-approach-web-applications">(original article)</a></li>
        <li>bootstrap</li>
      </ul>

        

        <h3>source</h3>
    
    <p> source on <a href="https://github.com/nfx8/webwiz/">github</a></p>
        <img src="/static/github.jpg" width="200" height="200">


    </div>
  </div>


    

{% endblock %}

