
{% extends "bootstrap_responsive.html" %}


{% block body_content %}

<script src="/static/d3.v2.js" type="text/javascript"></script>

<script src="/static/jquery-1.8.3.js" type="text/javascript"></script>

<script src="/static/jquery-ui.js"></script>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">webwiz</a>

          <div class="nav-collapse">
            <!-- generate nav using flask template system -->
              <ul class="nav">
                 {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}"><span>{{ caption|e }}</span>
              </a></li>
                {% endfor %}

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<script src="/static/dataview.js" type="text/javascript"></script>


  <div class="container-fluid">
  
    <h2>about</h2>
    <p>Ted Nelson writes in his autobiograph possiplex: "Paper simulation is retrograde. Imitating paper is to me like tearing the wings off a 747 and driving it on the highway as a bus. WHERE ARE THE CONNECTIONS?" 
      <br>
      Visualizations usually display graphics as pure outputs. This demo is attempt at working into the direction of interactive charts (based on the d3.js library). The user can select parts of the chart and see results. For instance metrics based on linear regression can be misleading, because they ignore part of the structure. I believe advanced mathematical techniques are actually much easier to grasp with the use of such charts.
    </p>
    
    
    <h2>Inspirations</h2>

    <ul>
    <li><a href="http://hyperland.com/" target="_blank">Ted Nelson</a></li>

    <li><a href="http://bost.ocks.org/mike/" target="_blank">Mike Bostock</a></li>

    <li><a href="http://worrydream.com/KillMath/" target="_blank">Bret Victor</a></li>
  </ul>

    <h2>using</h2>
      <ul>
        <li>d3.js is a javascript library which builds on the HTML/DOM.</li>

        <li>python flask. great python web framework</li>

        <li>AJAX. asynch javascript since 2005. <a href="http://www.adaptivepath.com/ideas/ajax-new-approach-web-applications" target="_blank">(original article)</a></li>
        <li>bootstrap</li>
      </ul>

        

        <h3>source</h3>
    
    <p> source on <a href="https://github.com/nfx8/webwiz/" target="_blank">github</a></p>
        <img src="/static/github.jpg" width="200" height="200">


    </div>
  </div>


    

{% endblock %}

