
{% extends "bootstrap_responsive.html" %}


{% block body_content %}

<!-- all the libs -->
<script src="/static/d3.js" type="text/javascript"></script>
<!-- https://raw.github.com/mbostock/d3/master/d3.js -->

<script src="/static/science.v1.js"></script>

<script src="/static/jquery-1.9.1.js"></script>


<script src="/static/mainview.js" type="text/javascript"></script>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
                   

          <a class="brand" href="#">webwiz</a>

          <div class="nav-collapse">

              <ul class="nav">
                 {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}"><span>{{ caption|e }}</span>
              </a></li>
                {% endfor %}




            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!--/nav -->


<style>

table th {
  font-weight:800;
}

</style>


<!-- bootstrap has scaffoling 
see http://twitter.github.io/bootstrap/scaffolding.html
-->


<div class="container-fluid" style="margin-top:-25px">
  
    <h2 style="margin-left:230px">Interactive graph </h2>


<div class="row">

  <div class="span8" style="padding:0 19px">


        <!-- main area -->


         <p id="graph_header" style="margin-left:260px">to get started pick a distribution</p>

         <!-- this is an svg element which is filled by the javascript code -->

        <div id="graph" width="500" height="500"><svg></div>

        
    </div>


  <div class="span3">

            <h3>Input</h3>


              <h4>Randomness</h4>
              <div class="btn-group" data-toggle="buttons-radio" id="button-randomness">
                <button type="button" class="btn active" value="linreg" data-value="no">no </button>

                <button type="button" class="btn " value="linreg" data-value="some">some </button>

                <button type="button" class="btn " value="linreg" data-value="more">more </button>

              </div>

              <h4>Number</h4>
              
              <div class="btn-group" data-toggle="buttons-radio" id="button-size">

                <button type="button" class="btn active" data-value="10" id="size-few">few </button>

                <button type="button" class="btn " data-value="30" id="size-plenty">plenty </button>

                <button type="button" class="btn " data-value="100" id="size-many">many </button>

              </div>

               <br> <br>
               
                    <div class="btn-group" id="button-go">
                <button type="button" class="btn btn-primary" id="action-generate">Go</button>
                </div>
                
        

                <br><br>
                    <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Distributions <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" id="action-gauss">Gauss</a></li>
                </ul>
              </div><!-- /btn-group -->



              <hr>
              <h3>Stat info</h3>
              
              
              <table cellpadding="10" border="1">
                <tr>
                  <td><div id="count" >selected #</div>   </td>
                  <td><div id="x_avgstat" >avg x</div></td>
                  <td><div id="y_avgstat" >avg y</div></td>
                </tr>  

             </table>
      <hr>
        <h3>Regression</h3>

              <table cellpadding="10" border="1">
                <tr><th>Metric</th><th>Value All</th> <th>Value selection</th></tr>
                <tr>
                  <td>slope</td><td><div id="slope_all" ></div>   </td> <td> <div id="slope_selected" ></div>   </td>  </tr>

                 
                  <tr><td>std error</td><td><div id="std_err_all" >  </div></td>  <td> <div id="std_err_selected" ></div>   </td>  </tr>

                  <td>R squared</td><td><div id="r_value_all" > </div>   </td>  <td> <div id="r_value_selected" ></div>   </td>   </tr>
                  
                </tr>  

             </table>      


          <!--
                  <h3>Mouse info</h3>
                  
                  <p id="xpos">x: 0 y: 0</p>

                      <div style="color:grey"><p id="downflag" ></p></div>

                   
                      <div style="color:grey"><p id="upflag" ></p></div>  

                   
                      <div style="color:grey"><p id="deltax" ></p></div>

                   
                      <div style="color:grey"><p id="deltay" ></p></div>        
          -->


  <hr>
  
  
  </div>

       
<!-- /. container -->
</div>


<script>


jQuery("#action-generate").click(function(e){


  //$(this).button('loading');

  var num = ($("#button-size .active").data("value"));
  
  
  
  var disttype = ($("#button-randomness .active").data("value"));

  if (disttype == "no"){
          
    genRandom(0,num)

  }


  if (disttype == "some"){   
    genRandom(30,num);
  }


   if (disttype =="more"){    
    genRandom(60,num);
  }




});

function customDataset(){

  $(this).button("reset");

      $.get("/data/", function (data) {
        var resultDict = jQuery.parseJSON(data);                
         drawPlot(resultDict["values"]);
    });
}


function genRandom(beta,num){
    var circledata = linearData();
    $.post("/dist/", {
        vals: JSON.stringify({'beta':beta,'size':num})

    }, function (data) {

        var resultDict = jQuery.parseJSON(data);
                
         drawPlot(resultDict["values"]);
    });
}





jQuery("#action-gauss").click(function(e){

          d3.select('#description').text("Carl Friedrich Gauss");
          d3.select('body').select('#graph_header').text("");
          var circledata = gaussianData();
          drawPlot(circledata);
           //drawLoess();

});

    $("button").click(function () {

        
    });
</script>


    

{% endblock %}

