<!doctype html>

<!--
a small presentation
based on impress.js
-->


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Visualize</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="static/impress-demo.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">


<div class="fallback-message">
    <p>Your browser is not a modern browser. Ancient browser <a href="http://en.wikipedia.org/wiki/List_of_web_browsers">history</a></p>
</div>



<div id="impress">



    <div class="step slide" data-x="1800" data-y="800" style="background:#ffffff url('/static/paper.jpg');">
        <q style="color: #333">Ted Nelson Quote</q><br>
        "The prison of paper, enforcing sequence and rectangularity, had been the enemy of authors and editors for thousands of years; now at last we could break free."

        <div class="footnote">press spacebar (<a href="/#/ing">link</a>)</div>
    </div>




    <div id="ing" class="step" data-x="2100" data-y="-1250" data-rotate="270" data-scale="6">
        <p><b>Visualization</b> and Interaction</b> with <b>data</b>                                
        </p>

        <br>



        <p style="font-size:18pt; color:#03f"><a href="/main/">&lt;start&gt;</a></p>   
        <br><br>

      
    </div>




</div>






<script>

</script>


<script src="static/impress.js"></script>
<script>impress().init();</script>



</body>
</html>
