<!doctype html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Visualize</title>
        

</head>

<body style="background:#ffffff url('/static/paper.jpg'); font-family: Arial">






    <div style="margin-left: 100px; ">
       
        <h1 style="color: #333; margin-top: 100px">Ted Nelson Quote</h1><br>

        <p style="font-size: 20px;">
            "The prison of paper, enforcing sequence and rectangularity, had been the enemy of authors and editors for thousands of years; now at last we could break free."
        </p>

        

        <p style="font-size:14pt; color:#03f"><a href="/main/">&lt;start (currently only tested in Chrome)&gt;</a></p>   
        <br><br>

    </div>





</body>
</html>
